<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
        @RenderSection("Styles", required: false)

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#" id="iconHome"><i class="fas fa-home"></i> Home</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
         <ul class="navbar-nav ms-auto me-0 me-md-4 my-3 my-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="iconHome" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           <i class="fas fa-user fa-fw"></i>  Felipe Mejia     
        </a>
        <div id="Nav1" class="dropdown-menu">
          <a class="dropdown-item" href="#">Perfil</a>
          <a class="dropdown-item" href="#">Cerrar Sesion</a>
        </div>
      </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div id="ColorYellow" class="sb-sidenav-menu-heading">Resumen</div>
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <div id="ColorWhite" class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
                        </a>
                        <div id="ColorYellow" class="sb-sidenav-menu-heading">Gestion</div>

                     
                        <a data-toggle="collapse" data-target="#products" class="nav-link collapsed">
                            <div id="ColorWhite" class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Mantenedores
                            <div id="ColorWhite" class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                       <div class="collapse" id="products">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Categoria","Home")">Departamento</a>
                                <a class="nav-link" href="@Url.Action("Marca","Home")">Empleados</a>
                            </nav>
                        </div>
                       @* <a class="nav-link" href="@Url.Action("Index","Tienda")" target="_blank">
                            <div  id="ColorWhite" class="sb-nav-link-icon"><i class="fas fa-store"></i></div>Ver Tienda
                        </a>
                        <a class="nav-link" href="https://ouo.io/VRgLgZ" target="_blank">
                            <div id="ColorWhite" class="sb-nav-link-icon"><i class="fas fa-donate"></i></div>Ver Premium
                        </a>*@
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                 <div id="ColorYellow"  class="small">Welcome in the House</div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2022</div>
                        <div>
                            <!--Comentario-->
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

   
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
 
    @RenderSection("scripts", required: false)

</body>
</html>
